/* home-main-product-container */
.home-main-product-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    padding-bottom: 6rem;
}

/* home-product */
.home-product {
    height: 13rem;
    width: 18rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 2px #C5C5C5);
}

/* home-product-image */
.home-product-image {
    height: 9rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-product .home-product-image img {
    height: 12rem;
    width: 100%;
    border-radius: 10px;
}

/* main-product-name-n-price */
.main-product-name-n-price {
    display: flex;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.main-product-name-n-price .main-product-name {
    width: 11rem;
    font-size: 1rem;
    color: #a93014;
    text-transform: capitalize;
}

.main-product-name-n-price .main-product-price {
    font-size: 1.2rem;
    width: 5rem;
    text-align: right;
}

.main-product-desc {
    font-size: 0.7rem;
    margin-left: 1.1rem;
}