/* main */
main h2 {
    color: #a93014;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1.2rem 0rem;
    font-weight: bolder;
}

/* search-bar-container */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar-container input {
    font-size: 1.1rem;
    width: 20rem;
    padding: 0.8rem 2.7rem 0.8rem 1rem;
    border-radius: 0.8rem;
    outline: none;
    border: 1px solid #787878;
}

.search-icon {
    font-size: 1.1rem;
    position: absolute;
    right: 2.8rem;
    color: #787878;
}

/* category-product-main-container */
.category-product-main-container {
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* category-product-container */
.category-product-container {
    width: 20rem;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

.food {
    text-align: center;
}

.category-product-container .food img {
    height: 6rem;
}

.food p {
    font-size: 1rem;
    text-transform: capitalize;
}

/* home-main-product-container */
.home-main-product-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    padding-bottom: 6rem;
}

/* home-product */
.home-product {
    height: 13rem;
    width: 18rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 2px #C5C5C5);
}

/* home-product-image */
.home-product-image {
    height: 9rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-product .home-product-image img {
    height: 12rem;
    width: 100%;
    border-radius: 10px;
}

/* main-product-name-n-price */
.main-product-name-n-price {
    display: flex;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.main-product-name-n-price .main-product-name {
    width: 11rem;
    font-size: 1rem;
    color: #a93014;
    text-transform: capitalize;
}

.main-product-name-n-price .main-product-price {
    font-size: 1.2rem;
    width: 5rem;
    text-align: right;
}

.main-product-desc {
    font-size: 0.7rem;
    margin-left: 1.1rem;
}