@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

#root {
  height: 100vh;
  width: 24rem;
  background-color: #FFFFFF;
}

.maroon-color {
  color: #A21A24;
}

/* pages-heading */
.pages-heading {
  height: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow-icon {
  font-size: 1.6rem;
}

.pages-heading h1{
  font-size: 1.3rem;
  font-weight: 600;
}

/* .pages-heading Link */
.pages-heading a{
  text-decoration: none;
  left: 1rem;
  position: absolute;
  display: flex;
  color: #000000;
}